* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poopins", sans-serif;
}

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 100px;

}

.box h1 {
    text-align: center;
}

.box {
    text-align: center;
}

.box img {
    width: 70%;
}

span {
    color: green;
    font-size: 20px;
}

p {
    font-size: 20px;
}


/* bouton  */
.btn {
    border: 1px solid rgb(3, 3, 82);
    border-radius: 5px;
    background-color: rgb(3, 3, 82);
    color: #ffffff;
    font-size: 15px;
    width: 100%;
    margin: 10px;
}

.btn:hover {
    background-color: rgb(3, 3, 82, 0.85);
    color: #ffffff;
    border: 1px solid rgb(3, 3, 82);


}

/* lecteur_qr */
.card {
    border: 1px solid rgb(3, 3, 82);
    border-radius: 10px;
    padding: 20px;
}
.lecteur_qr {
    display: flex;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.329);
    border: 4px dashed lightgoldenrodyellow;
    padding: 5px;
}
.fa-qrcode {
    font-size: 80px;
}
.btn1{
    background-color: #ffffff; 
    border: 1px solid rgb(3, 3, 82);
    border-radius: 4px;
    color: rgb(3, 3, 82);
    width: auto;
    padding: 10px;
    margin: auto;
    
}